$green: #27a48b;
$white: #fff;
$black: #202020;
$deepBlack: #1a1a1a;
$deepGray: #242424;

$pc-l: 1720px;
$pc-m: 1400px;
$pc-s: 1200px;
$tablet-l: 1024px;
$tablet-m: 768px;
$tablet-s: 640px;
$mobile-l: 480px;
$mobile-m: 420px;
$mobile-s: 360px;
$mobile-xs: 320px;
