@import "_variable";

body {
    background-color: $mainColor;
    font-family: "Spoqa Han Sans", "Sans-serif";
}

.inner1720 {
    position: relative;
    width: 1720px;
    margin: 0 auto;
}

.hide {
    width: 1px;
    height: 1px;
    line-height: 0;
    font-size: 0;
    text-indent: -9999px;
}
