@import "_variable";
@import "_mixin";

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: $deepGray;
    z-index: 1;
    transition: all 0.3s;
    @include mediaQuery($tablet-l) {
        height: 60px;
    }
    .inner1720 {
        display: flex;
        align-items: center;
        height: 100%;
    }
    h1 {
        flex: none;
        align-items: center;
        font-family: "Quicksand";
        font-size: 25px;
        font-weight: 300;
        line-height: 2.4;
        letter-spacing: 2.5px;
        color: $green;
        // vertical-align: middle;
        @include mediaQuery($tablet-l) {
            font-size: 18px;
        }
        img {
            padding-right: 10px;
            vertical-align: -11px;
            @include mediaQuery($tablet-l) {
                height: 30px;
                vertical-align: -8px;
            }
        }
    }
    .nav-button {
        display: none;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 30px;
        height: 24px;
        @include mediaQuery($tablet-l) {
            display: block;
        }
        span {
            display: inline-block;
            transition: all 0.4s;
            box-sizing: border-box;
        }
        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $white;
            border-radius: 2px;
        }
        span:nth-of-type(1) {
            top: 0;
        }
        span:nth-of-type(2) {
            top: 10px;
        }
        span:nth-of-type(3) {
            bottom: 0;
        }
    }
    .nav {
        display: flex;
        width: 100%;
        @include mediaQuery($tablet-l) {
            display: none;
            position: fixed;
            top: 60px;
            left: 0;
            width: 100%;
            height: calc(100vh - 60px);
            background-color: $deepGray;
        }
        &.active {
            @include mediaQuery($tablet-l) {
                display: block;
            }
        }
        nav {
            &.nav-center {
                @include center-content;
                margin: 0 auto;
                flex: 1 1;
                justify-content: center;
                @include mediaQuery($tablet-l) {
                    width: 100%;
                    top: calc(50% - 25px);
                }
                ul {
                    li {
                        margin: 0 20px;
                        @include mediaQuery($pc-m) {
                            margin: 0 3px;
                        }
                        @include mediaQuery($tablet-l) {
                            margin-bottom: 15px;
                            text-align: center;
                        }
                        a {
                            display: inline-block;
                            padding: 10px;
                            font-size: 18px;
                            font-weight: bold;
                            letter-spacing: 1.08px;
                            color: $white;
                            @include mediaQuery($tablet-l) {
                                font-size: 24px;
                            }
                            @include mediaQuery($mobile-l) {
                                font-size: 20px;
                            }
                            &:hover {
                                color: $green;
                            }
                        }
                    }
                }
            }
            &.nav-right {
                flex: none;
                margin-left: auto;
                @include mediaQuery($tablet-l) {
                    position: absolute;
                    bottom: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                ul {
                    @include mediaQuery($tablet-l) {
                        display: flex;
                    }
                    li {
                        &:first-child {
                            margin-right: 15px;
                        }
                        a {
                            img {
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
            ul {
                display: flex;
                @include mediaQuery($tablet-l) {
                    display: block;
                }
                li {
                    a {
                        display: inline-block;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 1.12px;
                        color: #ffffff;
                        img {
                            padding-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

.content {
    padding-top: 100px;
    @include mediaQuery($tablet-l) {
        padding-top: 60px;
    }
}

.front-works {
    @include clearfix;
    margin-bottom: 100px;
    .front-works-top {
        height: 700px;
        margin-bottom: 100px;
        @include mediaQuery($pc-m) {
            height: 500px;
            margin-bottom: 70px;
        }
        @include mediaQuery($pc-s) {
            height: 450px;
        }
        @include mediaQuery($tablet-l) {
            height: calc(100vh - 60px);
        }
        @include mediaQuery($tablet-l) {
            margin-bottom: 40px;
        }

        &--image {
            position: relative;
            float: left;
            width: calc(100% - 100px);
            height: 100%;
            @include mediaQuery($tablet-l) {
                width: calc(100% - 50px);
            }
            img {
                width: 100%;
                @include center-content;
                @include mediaQuery($tablet-l) {
                    width: auto;
                    max-height: 100%;
                }
                @include mediaQuery($mobile-l) {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        &--email {
            float: right;
            position: relative;
            width: 100px;
            height: 100%;
            @include mediaQuery($tablet-l) {
                width: 50px;
                // background-color: $deepBlack;
            }
            span {
                display: inline-block;
                @include center-content;
                transform: translate(-50%, -50%) rotate(90deg);
                white-space: nowrap;
                text-align: center;
                font-weight: 500;
                color: $white;
                @include mediaQuery($tablet-m) {
                    font-size: 14px;
                }
                img {
                    transform: rotate(-90deg);
                    margin-right: 10px;
                }
            }
        }
    }
    .front-content {
        &--left {
            float: left;
            width: 45%;
            @include mediaQuery($tablet-l) {
                float: none;
                width: 460px;
                margin: 0 auto 70px;
            }
            @include mediaQuery($mobile-l) {
                width: 100%;
            }
            .front-content-head {
                margin-bottom: 35px;
                text-transform: uppercase;
                p {
                    margin-bottom: 20px;
                    font-size: 17px;
                    font-weight: 500;
                    letter-spacing: 1.7px;
                    color: $green;
                    @include mediaQuery($mobile-m) {
                        font-size: 15px;
                    }
                    @include mediaQuery($mobile-m) {
                        // font-size: 15px;
                        letter-spacing: 1px;
                    }
                }
                strong {
                    margin-bottom: 35px;
                    font-size: 30px;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    color: $white;
                    @include mediaQuery($mobile-l) {
                        font-size: 26px;
                    }
                    @include mediaQuery($mobile-m) {
                        font-size: 21px;
                    }
                    @include mediaQuery($mobile-s) {
                        font-size: 18px;
                    }
                    img {
                        margin-right: 10px;
                        vertical-align: -2px;
                        @include mediaQuery($mobile-l) {
                            width: 32px;
                        }
                        @include mediaQuery($mobile-s) {
                            width: 26px;
                        }
                    }
                }
            }
            .active-button {
                @include mediaQuery($tablet-l) {
                    margin: 0 auto;
                }
            }
            .front-content-key-explain {
                margin-bottom: 40px;
                > li {
                    position: relative;
                    margin-bottom: 20px;
                    padding-left: 15px;
                    font-size: 17px;
                    font-weight: 300;
                    @include mediaQuery($tablet-l) {
                        font-size: 16px;
                    }
                    &::before {
                        content: "-";
                        position: absolute;
                        left: 0;
                        top: 0;
                        color: $white;
                    }
                    > ul {
                        padding-top: 30px;
                        li {
                            position: relative;
                            padding-left: 110px;
                            opacity: 0.7;
                            margin-bottom: 25px;
                            font-weight: 300;
                            @include mediaQuery($mobile-l) {
                                line-height: 1.4;
                            }
                            span {
                                position: absolute;
                                top: -5px;
                                left: 0;
                                display: inline-block;
                                box-sizing: border-box;
                                width: 100px;
                                padding: 8px 5px;
                                margin-right: 10px;
                                border: 1px solid rgba(255, 255, 255, 0.3);
                                text-align: center;
                                font-size: 14px;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }

        &--right {
            float: left;
            width: 55%;
            @include mediaQuery($tablet-l) {
                float: none;
                width: 740px;
                margin: 0 auto;
            }
            @include mediaQuery($tablet-m) {
                width: 100%;
            }
            .circle-list {
                margin-bottom: 50px;
                @include clearfix;
                li {
                    float: left;
                    width: 25%;
                    @include mediaQuery($tablet-s) {
                        width: 30%;
                        margin: 0 10% 20px;
                    }
                    @include mediaQuery($tablet-s) {
                        width: 46%;
                        margin: 0 2% 20px;
                    }
                    > div {
                        position: relative;
                        box-sizing: border-box;
                        padding-bottom: 100%;
                        border: 1px solid rgba(255, 255, 255, 0.7);
                        border-radius: 50%;
                        img {
                            position: absolute;
                            top: 50px;
                            left: 50%;
                            transform: translateX(-50%);
                            @include mediaQuery($pc-m) {
                                top: 20%;
                            }
                        }
                        > p {
                            position: absolute;
                            top: 120px;
                            left: 0;
                            width: 100%;
                            font-weight: 300;
                            text-align: center;
                            @include mediaQuery($pc-m) {
                                top: 65%;
                            }
                        }
                    }
                }
            }
            .desc-list {
                li {
                    position: relative;
                    padding-left: 45px;
                    margin-bottom: 35px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    h5 {
                        margin-bottom: 18px;
                        font-family: "Spoqa Han Sans";
                        font-size: 18px;
                        color: $green;
                        span {
                            position: absolute;
                            top: -5px;
                            left: 0;
                            width: 30px;
                            height: 30px;
                            background-color: $green;
                            border-radius: 50%;
                            line-height: 30px;
                            font-family: "Roboto";
                            font-size: 15px;
                            font-weight: 500;
                            color: $white;
                            text-align: center;
                        }
                    }
                    > p {
                        font-weight: 300;
                        line-height: 1.8;
                    }
                }
            }
        }
    }
}

.publish-works {
    margin-bottom: 100px;
    .publish-list {
        &-sort {
            position: relative;
            &--btn {
                display: none;
                // display: flex;
                align-items: center;
                box-sizing: border-box;
                width: 250px;
                height: 60px;
                padding: 5px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                cursor: pointer;
                @include mediaQuery($pc-s) {
                    display: flex;
                    margin-bottom: 70px;
                }
                .icon {
                    position: relative;
                    width: 65px;
                    height: 100%;
                    margin-right: 20px;
                    img {
                        @include center-content;
                        max-height: 100%;
                    }
                }
                > div {
                    font-weight: 300;
                    letter-spacing: 0.8px;
                    > p:first-child {
                        margin-bottom: 15px;
                    }
                }
                > span {
                    margin: 0 5px 0 auto;
                }
            }
            ul {
                margin-bottom: 100px;
                @include clearfix;
                @include mediaQuery($pc-s) {
                    display: none;
                    position: absolute;
                    top: 60px;
                    left: 0;
                    z-index: 1;
                }
                li {
                    display: flex;
                    align-items: center;
                    float: left;
                    box-sizing: border-box;
                    height: 60px;
                    padding: 0 31px;
                    border-left: 1px solid rgba(255, 255, 255, 0.05);
                    cursor: pointer;
                    @include mediaQuery($pc-m) {
                        padding: 0 20px;
                    }
                    @include mediaQuery($pc-s) {
                        float: none;
                        width: 250px;
                        padding: 5px;
                        background-color: $deepBlack;
                        border: 1px solid rgba(255, 255, 255, 0.05);
                    }
                    &:first-child {
                        padding-left: 0;
                        border-left: none;
                    }
                    .icon {
                        position: relative;
                        width: 65px;
                        height: 100%;
                        margin-right: 20px;
                        img {
                            @include center-content;
                            max-height: 100%;
                            &:first-child {
                                display: none;
                            }
                        }
                    }
                    > div {
                        opacity: 0.2;
                        font-weight: 300;
                        letter-spacing: 0.8px;
                        color: $white;
                        > p:first-child {
                            margin-bottom: 15px;
                        }
                    }
                    &.selected {
                        > div {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &-view {
            @include clearfix;
            li {
                float: left;
                width: 32%;
                margin: 0 2% 90px 0;
                cursor: pointer;
                @include mediaQuery($tablet-m) {
                    width: 49%;
                    margin: 0 2% 60px 0;
                    &:nth-child(even) {
                        margin-right: 0;
                    }
                }
                &:nth-child(3n) {
                    margin-right: 0;
                    @include mediaQuery($tablet-m) {
                        margin-right: 2%;
                    }
                }
                @include mediaQuery($tablet-s) {
                    width: 100%;
                    margin: 0 0 50px 0;
                }
                .publish-list-view--logo {
                    position: relative;
                    margin-bottom: 35px;
                    padding-bottom: 70%;
                    background-color: $deepGray;
                    img {
                        @include center-content;
                        max-width: 100%;
                    }
                }
                dl {
                    dt {
                        margin-bottom: 25px;
                        font-size: 19px;
                        color: $white;
                    }
                    dd {
                        min-height: 50px;
                        font-size: 15px;
                        color: $white;
                    }
                }
                .publish-list-view--category {
                    span {
                        display: inline-block;
                        margin-right: 10px;
                        padding: 12px 15px;
                        border: 1px solid rgba(255, 255, 255, 0.3);
                        font-size: 14px;
                        font-weight: 300;
                        color: $white;
                        &:span {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .active-button {
            margin: 0 auto;
        }
    }
}

.contact-content {
    ul {
        @include clearfix;
        margin-bottom: 100px;
        li {
            display: flex;
            align-items: center;
            float: left;
            width: 50%;
            > div {
                width: 175px;
                margin-right: 35px;
                @include mediaQuery($pc-s) {
                    width: 120px;
                    margin-right: 25px;
                }
                > p {
                    position: relative;
                    box-sizing: border-box;
                    padding-bottom: 100%;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    border-radius: 50%;
                    img {
                        @include center-content;
                    }
                }
            }
            dl {
                dt {
                    margin-bottom: 30px;
                    font-size: 22px;
                    font-weight: 500;
                    letter-spacing: 1.1px;
                    color: $green;
                }
                dd {
                    position: relative;
                    padding-left: 15px;
                    margin-bottom: 17px;
                    font-size: 17px;
                    font-weight: 300;
                    letter-spacing: 0.85px;
                    color: $white;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 8px;
                        left: 0;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: $white;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    strong {
                        padding-right: 5px;
                        font-weight: 500;
                        img {
                            vertical-align: -4px;
                        }
                    }
                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85px;
    background-color: $deepBlack;
    span {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.8px;
        color: rgba(255, 255, 255, 0.5);
    }
}

// 메뉴 버튼 애니메이션
.nav-button {
    span:nth-of-type(1) {
        animation: menu-bar01 0.75s forwards;
    }
    span:nth-of-type(2) {
        transition: all 0.25s 0.25s;
        opacity: 1;
    }
    span:nth-of-type(3) {
        animation: menu-bar02 0.75s forwards;
    }
    &.active {
        span:nth-of-type(1) {
            animation: active-menu-bar01 0.75s forwards;
        }
        span:nth-of-type(2) {
            opacity: 0;
        }
        span:nth-of-type(3) {
            animation: active-menu-bar03 0.75s forwards;
        }
    }
}

@keyframes menu-bar01 {
    0% {
        transform: translateY(10px) rotate(45deg);
    }
    50% {
        transform: translateY(10px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes menu-bar02 {
    0% {
        transform: translateY(-10px) rotate(-45deg);
    }
    50% {
        transform: translateY(-10px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes active-menu-bar01 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(10px) rotate(0);
    }
    100% {
        transform: translateY(10px) rotate(45deg);
    }
}

@keyframes active-menu-bar03 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-10px) rotate(0);
    }
    100% {
        transform: translateY(-10px) rotate(-45deg);
    }
}
